{% extends 'test/layout.html' %}
{% block content %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center orange-text">Flask Test</h1>
      <div class="row center">
        <h5 class="header col s12 light">Burger ipsum dolor amet porterhouse rump steak tail short loin</h5>
      </div>
      <div class="row center">
        <a href="#" class="btn-large waves-effect waves-light orange">Button</a>
      </div>
    </div>
  </div>
{% endblock %}